body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}
